@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import '../config/variables';
@import '../config/styles';
@import '../partials/continueButtons';

body {
  background-image: url('/images/backgrounds/login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.return {
  text-decoration: none;
  img {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 40px;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.main-ctn {
  width: 70vw;
  margin: 12% auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &.active {
    .form-ctn {
      transform: translateX(55px);
      opacity: 1;
    }
    .background-ctn {
      opacity: 1;
    }
  }
  .background-ctn {
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
    .info-ctn {
      width: 44%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        text-align: center;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 37px;
        margin: 8px;
      }
      p {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
      }
      a {
        text-decoration: none;
        button {
          border: 1px solid #fff;
          border-radius: 4px;
          outline: none;
          background-color: transparent;
          padding: 4px 10px;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 19px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            border: 1px solid rgb(12, 177, 253);
            color: rgb(12, 177, 253);
          }
        }
      }
    }
  }
  .form-ctn {
    position: absolute;
    transform: translateX(0px);
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1400ms ease;
    h2 {
      color: $mainColor;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 37px;
      margin: 0 0 20px 0;
    }
    .form-group {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .mail-icon {
        width: 25px;
      }
      .pass-icon {
        width: 35px;
      }
      input {
        margin-left: 8px;
        border: none;
        border-bottom: 1px solid rgb(139, 139, 139);
        outline: none;
        padding: 4px;
        background-color: transparent;
        color: $blackColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        transition: border-bottom 0.3s ease;
        &:focus {
          border-bottom: 1px solid $secondColor;
        }
        &.error {
          border-bottom: 1px solid rgb(253, 32, 32);
        }
      }
    }
    .submit {
      border: none;
      border-radius: 2px;
      outline: none;
      padding: 6px 16px;
      background-color: $mainColor;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $mainColor2;
      }
    }
  }
}
