body {
  margin: 0;
  padding: 0;
  background-color: #fafcff;
}

.swal2-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.swal2-html-container{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
