<nav class="nav-ctn">
    <div class="profile-ctn">
        <img src="/images/avatars/n-1.png" class="profile-img">
        <p class="user-name"><span></span>{{userName}}</p>
    </div>
    <ul class="list-ctn">
        <h2>TimeFars</h2>
        <a href="/app/home">
            <p><span></span>Inicio</p>
        </a>

        <li>
            <p><span></span>Tareas</p>
        </li>
        <li class="drop-down" id="routines-drop-down">
            <p><span></span>Rutinas</p><img src="/images/icons/nav/arrow.png">
        </li>
        <ul class="routines-ctn">
            <li class="add-routine"><img src="/images/icons/nav/add.png">Agregar rutina</li>
        </ul>
        <li class="drop-down" id="projects-drop-down">
            <p><span></span>Proyectos</p><img src="/images/icons/nav/arrow.png">
        </li>
        <ul class="projects-ctn">
            <li class="add-project"><img src="/images/icons/nav/add.png">Agregar proyecto</li>
        </ul>
        <a href="/app/config">
            <p><span></span>Configuracion</p>
        </a><img src="">
    </ul>
</nav>