<div class="continue-buttons-ctn">
    <a href="/auth/google">
        <button>
            <object data="/images/icons/login/google.svg" type="image/svg+xml"></object>
            Continuar con Google
        </button>
    </a>
    <a href="/auth/facebook">
        <button class="facebook">
            <object data="/images/icons/login/facebook.svg" type="image/svg+xml"></object>
            Continuar con Facebook
        </button>
    </a>
</div>