.nav-ctn {
  position: fixed;
  width: $navWidth;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(173, 173, 173, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(173, 173, 173, 1);
  box-shadow: 1px 1px 3px 0px rgba(173, 173, 173, 1);
  * {
    font-family: 'Montserrat', sans-serif;
  }
  .profile-ctn {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 140px;
      border-radius: 50%;
    }
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 10px 0 0 0;
      font-weight: 600;
      color: rgb(32, 32, 32);
      span {
        margin-right: 7px;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        background-color: rgb(20, 238, 39);
      }
    }
  }
  .list-ctn {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      color: $mainColor;
    }
    li,
    a {
      text-decoration: none;
      width: 90%;
      border-bottom: 1px solid rgb(223, 223, 223);
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      padding: 7px 0 7px 5px;
      transition: all 300ms ease;
      &:hover {
        background-color: rgb(243, 243, 243);
      }
      &:active {
        transform: scale(0.94);
      }
      p {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 17px;
        color: rgb(26, 25, 25);
        span {
          margin-right: 10px;
          display: block;
          width: 17px;
          height: 6px;
          background-color: $mainColor;
        }
      }
    }
    .drop-down {
      justify-content: space-between;
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
      img {
        width: 15px;
        margin-right: 16px;
        transition: transform 400ms ease;
        transform: rotate(0deg);
      }
    }
    ul {
      display: none;
      padding: 0;
      margin: 0;
      width: 90%;
      &.active {
        display: block;
      }
      li {
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 11px 0 11px 17px;

        font-size: 14px;

        span {
          display: block;
          overflow: visible;
          width: 10px;
          min-height: 10px;
          height: 10px;
          border-radius: 100px;
          background-color: rgb(205, 20, 241);
          margin-right: 8px;
        }
        img {
          margin-right: 10px;
          width: 13px;
        }
      }
    }
  }
}
